<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sorting Application</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Raleway:300,400|Ubuntu:300,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
    <body>
        <header>
            <h1>
                Sorting App with Vue
            </h1>
        </header>
        <div id="app">
            <div id="control">
                <input :class="{inputDrawer: searchActive}" type="text" placeholder="Search" v-model="search" v-on:keyUp = "applySearch">
                <div id="buttons">
                    <button :class="{searchClose: sorting.topic}" @click="changeSorting('topic')">Topic</button>
                    <button :class="{searchClose: sorting.type}" @click="changeSorting('type')">Type</button>
                    <button :class="{searchClose: sorting.colorTheme}" @click="changeSorting('colorTheme')">Color Theme</button>
                    <button :class="{searchClose: searchActive}" class="searchButton" @click="searchActive = !searchActive"><i class="fas fa-search"></i></button>
                </div>
                <div id="categories">
                    <div :class="{drawer: sorting.topic}" id="topic">
                        <div>
                            <button @click="applyFilter">Health</button>
                            <button @click="applyFilter">Food</button>
                            <button @click="applyFilter">Business</button>
                            <button @click="applyFilter">Science</button>
                            <button @click="applyFilter">Geography</button>
                        </div>
                    </div>
                    <div :class="{drawer: sorting.type}" id="type">
                        <div>
                            <button @click="applyFilter">Informational</button>
                            <button @click="applyFilter">Statistical</button>
                            <button @click="applyFilter">Timeline</button>
                            <button @click="applyFilter">Process</button>
                            <button @click="applyFilter">Comparison</button>
                        </div>
                    </div>
                    <div :class="{drawer: sorting.colorTheme}" id="color-theme">
                        <div>
                            <button @click="applyFilter">Cool</button>
                            <button @click="applyFilter">Warm</button>
                            <button @click="applyFilter">Dark</button>
                            <button @click="applyFilter">Light</button>
                        </div>
                    </div>
                    <div id="reset-filter">
                        <p>
                            <span @click="removeFilter(filter)" v-for="filter in appliedFilter"><i class="fas fa-times"></i>{{filter}}</span>
                        </p>
                        <!-- <button v-if="appliedFilter != []" @click="appliedFilter = []">Reset Filters</button> -->
                    </div>
                </div>
            </div>
            <div id="items">
                <section>
                    <!-- <button v-if="displayPrevious" @click="currentPage--">Previous</button> -->
                    <button :class="{highlighted : currentPage == page}" v-for="page in pageAmount" @click="currentPage = page">{{page}}</button>
                    <!-- <button v-if="displayNext" @click="currentPage++">Next</button> -->
                </section>
                <div v-for="(n, page) in pageAmount" v-if="page == currentPage-1">
                    <div v-for="item in displayedItems[page]">
                        <div>
                            <a :href="item.link"><img :src="item.source[item.activeTheme]"></a>
                            <div class="item-label">
                                <h4>{{item.name}}</h4>
                                <div class="item-colors">
                                    <button @click="item.activeTheme = theme" :style="buttonColor(theme)" v-for="theme in item.theme"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>